<h1>Passenger</h1>

<div id="map-canvas" style="height: 400px; width: 90%; border: solid 1px;"></div>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCoaZLtlE_uGVWDt9lMQ5dT2lN3cRp1V7s&callback=initPassenger">
</script>
