<h1><%= @driver.name %>, a passenger wants to ride with you.</h1>

<p>
<%= @message %>
</p>

<p>
  <a href="http://puber-api.herokuapp.com/accept">Give ride</a>
</p>

<p>
  <a href="http://puber-api.herokuapp.com/decline">Decline invitation</a>
</p>
